In [1]:
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
pd.set_option('display.max_rows',None)

In [2]:
train=pd.read_csv(r'/content/train.csv')
#printing top 5 rows
train.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

## missing values

In [4]:
missing_features=[i for i in train.columns if train[i].isnull().sum()>0]
for i in missing_features:
  print(i,np.round(train[i].isnull().mean(),4),"% values")

LotFrontage 0.1774 % values
Alley 0.9377 % values
MasVnrType 0.0055 % values
MasVnrArea 0.0055 % values
BsmtQual 0.0253 % values
BsmtCond 0.0253 % values
BsmtExposure 0.026 % values
BsmtFinType1 0.0253 % values
BsmtFinType2 0.026 % values
Electrical 0.0007 % values
FireplaceQu 0.4726 % values
GarageType 0.0555 % values
GarageYrBlt 0.0555 % values
GarageFinish 0.0555 % values
GarageQual 0.0555 % values
GarageCond 0.0555 % values
PoolQC 0.9952 % values
Fence 0.8075 % values
MiscFeature 0.963 % values

In [5]:
for i in missing_features:
  if train[i].dtypes=='object':
    train[i]=train[i].fillna("missing_value")
  else:
    train[i]=train[i].fillna(train[i].median())

In [6]:
train.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
Street           0
Alley            0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
MasVnrArea       0
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         0
BsmtCond         0
BsmtExposure     0
BsmtFinType1     0
BsmtFinSF1       0
BsmtFinType2     0
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
KitchenQual      0
TotRmsAbvGrd     0
Functional       0
Fireplaces       0
FireplaceQu      0
GarageType       0
GarageYrBlt      0
GarageFinish     0
GarageCars       0
GarageArea       0
GarageQual       0
GarageCond       0
PavedDrive       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
PoolQC           0
Fence            0
MiscFeature      0
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
dtype: int64

In [8]:
## Temporal Variables (Date Time Variables)

for feature in ['YearBuilt','YearRemodAdd','GarageYrBlt']:
       
    train[feature]=train['YrSold']-train[feature]

In [9]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,missing_value,Reg,Lvl,AllPub,...,0,missing_value,missing_value,missing_value,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,missing_value,Reg,Lvl,AllPub,...,0,missing_value,missing_value,missing_value,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,missing_value,IR1,Lvl,AllPub,...,0,missing_value,missing_value,missing_value,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,missing_value,IR1,Lvl,AllPub,...,0,missing_value,missing_value,missing_value,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,missing_value,IR1,Lvl,AllPub,...,0,missing_value,missing_value,missing_value,0,12,2008,WD,Normal,250000

In [11]:
train[['YearBuilt','YearRemodAdd','GarageYrBlt']].head()

   YearBuilt  YearRemodAdd  GarageYrBlt
0          5             5          5.0
1         31            31         31.0
2          7             6          7.0
3         91            36          8.0
4          8             8          8.0

##numerical values
- numerical data is skewed so perform log normal distribution

In [13]:

import numpy as np
num_features=['LotFrontage', 'LotArea', '1stFlrSF', 'GrLivArea', 'SalePrice']

for feature in num_features:
    train[feature]=np.log(train[feature])

In [14]:
train.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,4.174387,9.041922,Pave,missing_value,Reg,Lvl,AllPub,...,0,missing_value,missing_value,missing_value,0,2,2008,WD,Normal,12.247694
1,2,20,RL,4.382027,9.169518,Pave,missing_value,Reg,Lvl,AllPub,...,0,missing_value,missing_value,missing_value,0,5,2007,WD,Normal,12.109011
2,3,60,RL,4.219508,9.328123,Pave,missing_value,IR1,Lvl,AllPub,...,0,missing_value,missing_value,missing_value,0,9,2008,WD,Normal,12.317167
3,4,70,RL,4.094345,9.164296,Pave,missing_value,IR1,Lvl,AllPub,...,0,missing_value,missing_value,missing_value,0,2,2006,WD,Abnorml,11.849398
4,5,60,RL,4.430817,9.565214,Pave,missing_value,IR1,Lvl,AllPub,...,0,missing_value,missing_value,missing_value,0,12,2008,WD,Normal,12.429216

## categorical values

In [20]:
for i in train.columns:
  print(i,len(train[i].unique()))

Id 1460
MSSubClass 15
MSZoning 5
LotFrontage 110
LotArea 1073
Street 2
Alley 3
LotShape 4
LandContour 4
Utilities 2
LotConfig 5
LandSlope 3
Neighborhood 25
Condition1 9
Condition2 8
BldgType 5
HouseStyle 8
OverallQual 10
OverallCond 9
YearBuilt 122
YearRemodAdd 62
RoofStyle 6
RoofMatl 8
Exterior1st 15
Exterior2nd 16
MasVnrType 5
MasVnrArea 327
ExterQual 4
ExterCond 5
Foundation 6
BsmtQual 5
BsmtCond 5
BsmtExposure 5
BsmtFinType1 7
BsmtFinSF1 637
BsmtFinType2 7
BsmtFinSF2 144
BsmtUnfSF 780
TotalBsmtSF 721
Heating 6
HeatingQC 5
CentralAir 2
Electrical 6
1stFlrSF 753
2ndFlrSF 417
LowQualFinSF 24
GrLivArea 861
BsmtFullBath 4
BsmtHalfBath 3
FullBath 4
HalfBath 3
BedroomAbvGr 8
KitchenAbvGr 4
KitchenQual 4
TotRmsAbvGrd 12
Functional 7
Fireplaces 4
FireplaceQu 6
GarageType 7
GarageYrBlt 101
GarageFinish 4
GarageCars 5
GarageArea 441
GarageQual 6
GarageCond 6
PavedDrive 3
WoodDeckSF 274
OpenPorchSF 202
EnclosedPorch 120
3SsnPorch 20
ScreenPorch 76
PoolArea 8
PoolQC 4
Fence 5
MiscFeature 5
MiscVal 21
MoSold 12
YrSold 5
SaleType 9
SaleCondition 6
SalePrice 663

In [21]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,4.174387,9.041922,Pave,missing_value,Reg,Lvl,AllPub,...,0,missing_value,missing_value,missing_value,0,2,2008,WD,Normal,12.247694
1,2,20,RL,4.382027,9.169518,Pave,missing_value,Reg,Lvl,AllPub,...,0,missing_value,missing_value,missing_value,0,5,2007,WD,Normal,12.109011
2,3,60,RL,4.219508,9.328123,Pave,missing_value,IR1,Lvl,AllPub,...,0,missing_value,missing_value,missing_value,0,9,2008,WD,Normal,12.317167
3,4,70,RL,4.094345,9.164296,Pave,missing_value,IR1,Lvl,AllPub,...,0,missing_value,missing_value,missing_value,0,2,2006,WD,Abnorml,11.849398
4,5,60,RL,4.430817,9.565214,Pave,missing_value,IR1,Lvl,AllPub,...,0,missing_value,missing_value,missing_value,0,12,2008,WD,Normal,12.429216

##Handling Rare Categorical Feature

In [36]:
categorical_features=train.select_dtypes(include=['object'])

In [40]:
for feature in categorical_features:
    temp=train.groupby(feature)['SalePrice'].count()/len(train)
    temp_df=temp[temp>0.01].index
    train[feature]=np.where(train[feature].isin(temp_df),train[feature],'Rare_var')

In [48]:
for feature in categorical_features:
    labels_ordered=train.groupby([feature])['SalePrice'].mean().sort_values().index
    labels_ordered={k:i for i,k in enumerate(labels_ordered,0)}
    train[feature]=train[feature].map(labels_ordered)

In [49]:
train.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,4.174387,9.041922,1,2,0,1,1,...,0,0,4,2,0,2,2008,2,3,12.247694
1,2,20,3,4.382027,9.169518,1,2,0,1,1,...,0,0,4,2,0,5,2007,2,3,12.109011
2,3,60,3,4.219508,9.328123,1,2,1,1,1,...,0,0,4,2,0,9,2008,2,3,12.317167
3,4,70,3,4.094345,9.164296,1,2,1,1,1,...,0,0,4,2,0,2,2006,2,0,11.849398
4,5,60,3,4.430817,9.565214,1,2,1,1,1,...,0,0,4,2,0,12,2008,2,3,12.429216

# Feature Engineering

In [88]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [90]:
X=train.drop(['Id','SalePrice'],axis=1)
scaler.fit(X)
X_scaled=scaler.transform(X)

In [91]:
y=train['SalePrice']

In [92]:
print(X.shape,y.shape)

(1460, 79) (1460,)

- feature selection we will apply lasso model

In [93]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV,train_test_split,KFold
from sklearn.feature_selection import SelectFromModel

In [94]:
feature_sel_model = SelectFromModel(Lasso(alpha=0.005, random_state=0))
feature_sel_model.fit(X_scaled, y)

SelectFromModel(estimator=Lasso(alpha=0.005, random_state=0))

In [95]:

feature_sel_model.get_support()

array([ True,  True, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False,  True, False,
       False,  True,  True, False, False, False, False, False, False,
       False, False,  True, False,  True, False, False, False, False,
       False, False, False,  True,  True, False,  True, False, False,
        True,  True, False, False, False, False, False,  True, False,
       False,  True,  True,  True, False,  True,  True, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True])

In [102]:
selected_feat = X.columns[(feature_sel_model.get_support())]
len(selected_feat)

21

In [103]:
X=X[selected_feat]

In [104]:
X.head()

,MSSubClass,MSZoning,Neighborhood,OverallQual,YearRemodAdd,RoofStyle,BsmtQual,BsmtExposure,HeatingQC,CentralAir,...,GrLivArea,BsmtFullBath,KitchenQual,Fireplaces,FireplaceQu,GarageType,GarageFinish,GarageCars,PavedDrive,SaleCondition
0,60,3,14,7,5,0,3,1,4,1,...,7.444249,1,2,0,1,4,2,2,2,3
1,20,3,11,6,31,0,3,4,4,1,...,7.140453,0,1,1,3,4,2,2,2,3
2,60,3,14,7,6,0,3,2,4,1,...,7.487734,1,2,1,3,4,2,2,2,3
3,70,3,16,7,36,0,2,1,3,1,...,7.448334,1,2,1,4,2,1,3,2,0
4,60,3,22,8,8,0,3,3,4,1,...,7.695303,1,2,1,3,4,2,3,2,3

In [105]:
X.shape

(1460, 21)

In [107]:
X.to_csv("X_train.csv",index=False)
y.to_csv("Y_train.csv",index=False)